.item-container {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 6px 6px 12px #d3d3d3, -6px -6px 12px #ffffff;
  padding: 10px;
  gap: 20px;
}
.modify {
  display: flex;
  gap: 20px;

  justify-content: space-evenly;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.modify-item {
  width: 50%;
}
@media only screen and (max-width: 1200px) {
  .modify-item {
    width: 100%;
  }
  .modify {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 700px) {
  .form1 input {
    width: 75vw;
  }
}
.title {
  padding: 15px 15px 0 15px;
}
::-webkit-scrollbar {
  width: 10px;
  height: 20px;
}
::-webkit-scrollbar-thumb {
  background: rgb(139, 139, 139);
  border-radius: 10px;
}

h2 {
  margin: 0;
  font-size: 20px;
  color: #2b2b2b;
  display: inline;
}
p {
  color: #989a9f;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 10px;
}
.form1 {
  display: flex;
  gap: 10px;
  padding: 0 15px 15px 15px;
  flex-wrap: wrap;
}
input {
  font-size: 18px;
  width: 200px;
  outline: none;
  padding-left: 10px;
  height: 40px;
  margin-top: 20px;
  border: none;
  border-bottom: 2px solid rgb(224, 224, 224);
  background-color: #eeeeee;
}
label {
  color: #989a9f;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  top: -5px;
}
.scroll {
  overflow-y: scroll;
  height: 50vh;
  padding: 15px;
}
th:first-child {
  width: 50%;
}
th {
  padding: 0;
  text-align: left;
  color: #989a9f;
  font-family: "Segoe UI", sans-serif;
  font-weight: 500;
  width: 25%;
}
table td {
  padding-top: 20px;
}

.toggle {
  width: 40px;
  height: 20px;
  background-color: #989a9f;
  border-radius: 5px;
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
  display: inline-block;
}
.toggleActive {
  background-color: rgb(6, 99, 187);
}
.toggle-point {
  background-color: #ffffff;
  width: 18px;
  height: 18px;
  border-radius: 5px;
}
.toggle-pointActive {
  transform: translateX(22px);
}
h4 {
  display: inline;
  margin-left: 10px;
  vertical-align: top;
  color: #464646;
  font-size: 14px;
}
li {
  list-style-type: none;
  display: flex;
}
ul {
  padding: 0;
}
td input:disabled {
  background-color: #ffffff;
  border-color: #ffffff;
}
.toggle-pointActiveDisabled {
  transform: translateX(22px);
  background-color: #464646;
}
.toggle-pointDisabled {
  background-color: #464646;
}

.invalidInput {
  color: orange;
}
.invalidInputBorder {
  border-bottom-color: orange;
}
.users {
  text-align: right;
  margin-top: 20px;
  margin-left: auto;
}
.users h3 {
  margin: 0;
  display: inline;
  position: relative;
  top: 10%;
}
.avatar {
  background-color: #e8eeff;
  color: #0976ce;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 100px;
  width: 35px;
  height: 35px;
  display: inline-block;
  padding: 0;
  text-align: center;
  margin-left: 3px;
}
.avatar h3 {
  font-size: 19px;
}

.btn {
  width: 80px;
  height: 35px;
  border-radius: 5px;
  border: none;
  background-color: rgb(6, 99, 187);
  color: rgb(240, 240, 240);
  cursor: pointer;
  float: right;
  margin-right: 15px;
  margin-top: 0;
}
.btn:active {
  background-color: rgb(30, 127, 218);
}
.btn-2 {
  width: 80px;
  height: 35px;
  border-radius: 5px;
  border: none;
  background-color: transparent;
  color: rgb(6, 99, 187);
  cursor: pointer;
  float: right;
  margin-right: 15px;
  margin-top: 0;
}
.btn-2:active {
  color: rgb(30, 127, 218);
}
form {
  margin: 0;
  padding: 0;
  display: contents;
}
